@import "variables"

.register-title
  font-size: 35px
  font-weight: 600
  color: $dark-blue
  margin-bottom: 20px

.carousel-indicators
  display: none !important

.carousel-control
  background-image: none !important
  display: none !important

.slide, .profile
  max-width: 500px
  margin: auto
  background-color: transparent !important
  padding: 0 20px

.slide
  .tmp
    height: 50px
  .step
    font-size: 18px
    color: $dark-blue
    margin: 25px auto
  .step-2
    color: $dark-blue
    font-size: 16px

.kora-logo
  display: inline-block
  width: 120px
  height: 50px
  background-color: transparent
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  background-image: url(/images/kora_logo.svg)
  @media all and (min-width: 800px)
    &.kora-logo-top
      position: absolute
      top: 20px
      left: 20px
  @media all and (max-width: 800px)
    &.kora-logo-top
      margin: 20px auto
      display: block
  &.white
    background-image: url(/images/kora_logo_white.svg)
    width: 101px
    height: 38px
    margin: 18px 30px 20px 67px

.navbar-header
  display: flex
  align-items: center

.refresh
  border: solid 1px #4894ca
  padding: 5px 10px 5px
  color: white
  background-color: #3284bd
  font-size: 14px
  opacity: 0.75
  &:hover
    background-color: #628dab
    color: #fff
  &-icon
    width: 14px
  &-text
    padding: 6px

.dashboard
  .dashboard-header
    border-bottom: solid 2px $light-gray
    min-width: 230px
    span
      font-size: 18px
      color: #2e2e2e
      vertical-align: middle
    img
      width: 24px
      height: 16px
      object-fit: contain
      margin-right: 20px
      vertical-align: middle
  .dashboard-body
    margin-top: 27px
    .title
      font-size: 18px
      font-weight: 300
      color: #2e2e2e
      padding: 15px 60px 15px 23px
      vertical-align: middle
      min-width: 220px
    .buy
      min-width: 220px
      padding: 5px
      a
        display: inline-block
        .blue-img
          display: inline-block
          width: 54px
          height: 52px
          border-radius: 3px
          background-color: rgb(179, 216, 236)
          vertical-align: middle
          .eth
            object-fit: contain
            padding-left: 17px
            padding-top: 7px
            width: 38px
          .btc
            object-fit: contain
            padding-left: 9px
            padding-top: 7px
            width: 45px
        .text
          display: inline-block
          background-color: rgb(247, 247, 247)
          width: 154px
          height: 52px
          vertical-align: middle
          &:hover
            background-color: #dadada
          .buy-with-ethereum
            font-size: 14px
            text-align: left
            color: #2b74a5
            margin: 8px 0 5px 13px
          .buy-with-ethereum
            font-size: 14px
            text-align: left
            color: #2b74a5
            margin: 8px 0 5px 13px
          .price
            font-size: 10px
            font-weight: 600
            color: rgba(2, 2, 2, 0.61)
            margin-left: 13px
  .buy-area-left
    display: flex
    flex-direction: row
    align-items: center
  .buy-area-right
    display: flex
    flex-direction: column
  .dialogSubmit
    width: 100px



.ngdialog-theme-default
  .ngdialog-content
    font-family: Muli !important
    padding: 0 !important
    background-color: white !important
    border-radius: 10px
    .header
      padding-top: 20px
      border-radius: 7px 7px 0 0
      .title
        font-size: 20px
        padding: 12px
        color: $dark
    .ng-dialog-page
      border-radius: 0 0 7px 7px
    .ngdialog-close::before
      color: $light-gray
    .ngdialog-close:hover::before
      color: $dark-blue
  .ngdialog-overlay
    pointer-events: none

.regenerate-width
  .ngdialog-content
    width: 600px !important
    padding: 5px !important

.reenable-width
  .ngdialog-content
    width: 800px !important
    padding: 5px !important

.buy-width
  .ngdialog-content
    width: 500px !important

.GAR-width
  .ngdialog-content
    width: 600px !important

.ngdialog-theme-default.ng-dialog-reports
  .ngdialog-content
    width: 320px !important

.gallery-dialog
  .ngdialog-close
    position: absolute
    top: 10px
    right: 20px
    &::before
      font-size: 40px
  .ngdialog-content
    padding: 0 !important
    background-color: rgba(32, 32, 32, 0.81) !important
    width: 100% !important
    height: 100% !important
    .gallery
      text-align: center
      .gallery-item
        padding-top: 100px
        margin: 0 auto
        background-size: cover
        background-repeat: no-repeat
        max-width: 97vw
        max-height: 97vh
        display: block

.login-alert
  margin: 0 auto
  margin-top: 70px
  background-color: transparent
  position: relative
  max-width: 500px
  width: 100%
  border-radius: 10px
  .logo-container
    padding-top: 40px
    text-align: center
    position: relative
    background-color: transparent
    .circle-logo
      width: 75px
      position: absolute
      top: -40px
      left: 150px
    .site-title
      color: $dark-blue
      font-size: 35px
  .form-block
    max-width: 100%
    width: 100%
    padding: 20px
    border-radius: 10px

body
  width: calc(100% - 30px)
  height: 98%
  overflow: auto
  background-color: white
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-image: url(/images/word_map.png)

body.user-page
  .content-container
    width: 100%
    max-width: 1100px
    margin: auto
    padding-left: 250px
    margin-top: 75px
    .left-navbar
      margin-left: -250px
    .ibox-content
      box-shadow: 0 0 15px rgba(0,0,0,0.2)

.form-page
  padding-top: calc(45vh - 300px)

.col
  display: inline-block
  margin: 5px

.col-half
  width: calc(50% - 10px) !important

.col-third
  width: calc(33% - 10px) !important

.col-quarter
  width: calc(25% - 10px) !important

.col-650px
  width: 650px

.col-150px
  width: 150px

.col-calc-360px
  width: calc(100% - 360px)

.col-calc-650px
  @media (max-width: 1200px)
    display: block
    width: 650px
  @media (min-width: 1200px)
    width: calc(100% - 680px)
    text-align: right