@import "variables"

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none
  -moz-appearance: none !important
  appearance: none
  margin: 0

input[type=number]
  -moz-appearance: textfield

.form-control
  border-radius: 25px
  padding: 10px 25px
  color: darkgrey
  font-size: 18px

textarea.form-control
  padding: 10px 15px
  min-height: 100px

.onoffswitch
  height: 25px
  .onoffswitch-label
    border: none
    border-radius: 25px
    height: 25px
    .onoffswitch-switch
      box-sizing: border-box
      border: 2px solid $light-gray
      background-color: white
      border-radius: 100%
      width: 25px
    .onoffswitch-inner
      &:before, &:after
        padding: 0 9px
        height: 25px
        font-size: 12px
        line-height: 22px
        font-weight: 600
        font-family: "FontAwesome"
      &:before
        background-color: $dark-blue
        border: 1px solid $dark-blue
        content: "Yes"
        width: 38px
      &:after
        background-color: $light-gray
        border: 1px solid $light-gray
        color: darkgrey
        font-size: 14px
        font-weight: 100 !important
        content: "No"
        width: 70px
  &.active
    .onoffswitch-label
      .onoffswitch-switch
        border-color: $dark-blue !important

h1, h2
  color: $dark
  font-weight: 500

.description
  font-size: 16px
  color: $dark-blue

.step-four
  display: flex
  flex-direction: column
  &-qrcode
    border-radius: 5px
    background-color: #ddebf5
    padding: 15px
    font-size: 16px
    margin-left: -88px
    min-width: 600px

.black
  color: black !important

.dark-blue
  color: $dark-blue

.pointer
  cursor: pointer

.invisible
  display: none !important

.btn-circle
  border-radius: 100%
  padding: 10px
  padding-bottom: 8px
  z-index: 777
  display: inline
  cursor: pointer
  &:hover
    background-color: $light
    .fa
      color: $dark-blue
  .fa
    font-size: 20px
    color: $dark

.border-gray
  border: 1px solid lightgray

.circle
  border-radius: 100%

.full-width
  width: 100%

.inline-block
  display: inline-block

.middle
  vertical-align: middle

.top
  vertical-align: top

.bottom
  vertical-align: bottom

.m-lr-5
  margin-right: 5px
  margin-left: 5px

.m-b-0
  margin-bottom: 0 !important

.p-lr-20px
  padding-left: 20px
  padding-right: 20px

.p-tb-10-5px
  padding-top: 15px
  padding-bottom: 5px

.btn-primary, .btn-confirm
  color: white !important
  background-color: $dark-blue !important
  border-color: $dark-blue !important
  &:hover, &:active, &:focus
    background-color: $dark-blue !important
    border-color: $dark-blue !important
  i.fa.fa-check
    margin-left: -20px
.btn-primary-small
  color: white !important
  background-color: $dark-blue !important
  border-color: $dark-blue !important

.btn-cancel
  border: 1px solid $dark-blue
  color: $dark-blue
  &:hover
    color: $green
    border-color: $green

.uppercase
  text-transform: uppercase

.btn
  border-radius: 25px !important
  padding: 10px 25px !important
  font-size: 13px
  font-weight: 100
  letter-spacing: 1px !important
  min-width: 150px
  margin: 5px
  .fa
    margin-right: 10px
.status
  min-width: 75px !important
  padding: 2px 6px !important
  border-radius: 7px !important

.btn-info.btn-outline
  border-color: #2c73a5 !important
  color: #2c73a5 !important

.btn-info.btn-outline:hover
  background-color: #2c73a5 !important
  border-color: #2c73a5 !important
  color: #fff !important

.form-group
  margin: 15px auto

.checkbox
  display: inline-block
  padding-left: 35px
  label
    color: $dark-blue
    font-size: 16px
  input[type="checkbox"], input[type="radio"]
    display: none
  input[type="checkbox"] + label span.check, input[type="radio"] + label span.check
    display: inline-block
    margin: -1px 4px 0 0
    vertical-align: middle
    cursor: pointer
    width: 25px
    height: 25px
    border-radius: 5px
    border: solid 1px $dark-blue
    position: absolute
    margin-left: -35px
  input[type="checkbox"]:checked + label span.check, input[type="radio"]:checked + label span.check
    border: solid 1px $green
    text-align: center !important
    &:before
      font-family: FontAwesome
      content: "\f00c"
      color: $green
      font-size: 17px

.checkbox-cms
  display: inline-block
  padding-left: 35px
  padding-top: 10px
  label
    font-weight: normal
    font-size: 16px
  input[type="checkbox"], input[type="radio"]
    display: none
  input[type="checkbox"] + label span, input[type="radio"] + label span
    display: inline-block
    margin: -1px 4px 0 0
    vertical-align: middle
    cursor: pointer
    width: 15px
    height: 15px
    border-radius: 4px
    border: solid 1px darkgrey
  input[type="checkbox"]:checked + label span, input[type="radio"]:checked + label span
    border-radius: 4px
    border: solid 1px $dark-blue
    text-align: center !important
    &:before
      font-family: FontAwesome
      content: "\f00c"
      color: $dark-blue
      font-size: 10px
      margin-left: 1px

.ui-select-choices
  border-radius: 14px
  color: darkgrey
  font-size: 18px
.ui-select-match
  outline: none !important
  width: 99% !important
.ui-select-toggle
  border-radius: 25px !important
  color: darkgrey
  font-size: 18px
  font-weight: 500
.form-control
  height: 50px!important
.placeholder
  font-size: 14px
  color: #2b748f
.btn-default-focus
  border-radius: 25px
  outline-offset: 2px
  box-shadow: none
  background-color: #ffffff00
.btn-default:hover
  background-color: #ffffff
  color: $dark-blue
.country-img
  width: 30px
  height: 30px
  border: none
  border-radius: 50%
.selected
  overflow: inherit !important
  padding: 0 10px 0 !important
.choices
  padding: 0 10px 0 !important
.text-muted
  color: #c7c7c7
  font-size: 16px
  font-style: italic !important

.checking
  display: flex
  align-items: center
  padding: 12px
  &-text
    color: #2b748f
    font-weight: 600
    font-size: 18px
    margin: 0 auto

.center
  text-align: -webkit-center

.warning
  border-radius: 5px
  background-color: #faebd7
  padding: 10px
  font-size: 12px

.direction
  padding: 10px
  color: #144860
  font-size: 18px
  font-weight: 500

.address
  border-radius: 5px
  background-color: #ddebf5
  padding: 15px
  font-size: 16px
  
.white
  color: rgba(255, 255, 255, 0.7) !important

.regular
  font-weight: 100 !important

.hiddenBtn
  display: flex

.lostAndFound
  cursor: pointer
.covert-block
  display: flex
  flex-direction: column
  cursor: pointer
.dialogText
  padding: 0 85px 0
  font-size: 14px
  color: #2e2e2e
  list-style: none
.e-mail
  font-size: 20px
.dash
  opacity: 0.27
  color: #2b74a5
  padding: 40px
.idVerification
  font-size: 20px
.smallInput
  margin: 0 150px 0
  text-align: center
.history
  cursor: pointer
  &:hover
    color: #3285bd
    font-size: 14px
.disabledTable
  opacity: 0.3
.switchSale
  display: flex
  justify-content: center
  &-text
    font-size: 20px
    color: #7ca4d7
    margin: 0 20px
    font-weight: bold
