@import "variables"

.align-center-nav-text
  text-align: center
.left-bottom-nav
  list-style: none
  text-align: center
  color: white
  font-size: 14px
  line-height: 35px
.left-bottom-nav > ul > li > a
  color: rgba(255, 255, 255, 0.7)
  border-bottom: solid 0.7px rgba(255,255,255,0.3)
  border-bottom-width: 2px
  &:focus, &:hover
    border-bottom: none
  span
    font-weight: 500
  &:active
    span
      color: white
      font-weight: 700

.left-nav
  &-logo
    margin: 0 7px 0
    width: 20px
    vertical-align: sub
  &-block
    width: 240px
    background-color: #5550f3
    ul
      list-style: none
      padding-left: 0px
  &-username
    font-size: 18px
    text-align: center
    color: #ffffff
    padding: 17px 0 5px
  &-unverified-id
    opacity: 0.75
    font-size: 14px
    text-align: center
    color: #a4edca
    margin-left: 10px
    &-course
      font-size: 18px
      color: #ffff
    &-knt
      opacity: 0.75
      font-size: 14px
      text-align: center
      color: #ffffff
      border-bottom: none
  &-icon
    color: white
    opacity: 0.54
  &-balance
    font-size: 18px
    font-weight: 400
    text-align: left
    color: #ffffff
    border: solid 0.5px
    padding: 10px 10px
    &-position
      margin: 25px 0 20px 0
  &-price-position
    margin: 30px 0 0 0

.nav-menu-text
  opacity: 0.6
  font-size: 18px
  font-weight: 600
  text-align: left
  color: #ffffff
  &:focus
    opacity: 0.6
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active
  background-color: transparent
  color: white
  opacity: 1
.main_nav.nav > li > a
  padding: 20px 20px 15px 10px
.sign-out-position
  position: absolute !important
  right: 0

.nav-display
  display: inline-flex
  margin: 10px 40px 0
.slimScrollDiv
  border-right: 1px solid #ededed

ul#side-menu.nav.metismenu
  li
    border: 0
    color: white
    border-bottom: 1px solid $light-gray
    .logo
      height: 60px
      padding-top: 20px
      text-align: center
      &:focus, &:hover
        background-color: white
      img
        max-width: 80px
        margin: auto
        display: block

    &.active
      border-color: $dark-blue
      background-color: white
      border-bottom: 2px solid $dark-blue
      *, i.fa::before
        color: $dark-blue
      a:hover
        background-color: white
    a
      padding: 20px 15px
      color: $light-gray
      text-transform: uppercase
      i.fa::before

      &:hover
        background-color: white
        *
          color: $dark-blue
      &:focus
        background-color: white
        *, i.fa::before
          color: $dark-blue
      i.fa
        font-size: 20px
      *
        color: darkgrey

.custom-nav
  font-family: ProximaNova
  display: flex
  flex-direction: column
  justify-content: space-between
  background-image: linear-gradient(to top, #56acd1, #2b74a5)
  position: relative
  width: 230px
  height: 100%
  &-block
    display: block
    padding: 0
    &-text
      padding: 10px
      color: #ffff
  &-logout
    font-size: 20px
    color: #ffff
    padding: 30px
    &-icon
      padding: 10px
      cursor: pointer
    &-text
      padding: 10px
      font-size: 16px
      cursor: pointer
  li
    list-style: none
    color: white
    padding: 15px 40px
    .logo
      height: 60px
      padding-top: 20px
      text-align: center
      img
        width: 100px
        height: 38px
        margin: auto
        display: block
        z-index: 1
    a
      color: #ffff
.tabActive
  background-color: #e8e9ea4f

.custom-nav-logout
  a
    i.fa
      font-size: 20px
      margin-right: 10px


.navbar-fixed-top, .navbar-static-top
  background: #4a46d7

nav.navbar.navbar-fixed-top
  max-height: 76px
  border-bottom: none !important
  ul.nav.navbar-top-links.navbar-right
    float: right !important
    li, li *
      font-size: 14px
      color: white
      font-weight: 500
    form.navbar-form-custom
      margin: auto 25px

.nav-icon
  width: 25px
  height: 25px
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  margin: auto
  margin-bottom: 5px

.admin-page #page-wrapper
  margin-left: 230px!important
.navbar-static-side, body.fixed-nav #wrapper #page-wrapper
  margin-top: 0!important

