@import "variables"

.medium
  width: 120px

.visible

.invisible
  display: none !important

.gallery-dialog
  .ngdialog-close
    position: absolute
    top: 10px
    right: 20px
    &::before
      font-size: 40px
  .ngdialog-content
    padding: 0 !important
    background-color: rgba(32, 32, 32, 0.81) !important
    width: 100% !important
    height: 100% !important
    .gallery
      text-align: center
      .gallery-item
        padding-top: 100px
        margin: 0 auto
        background-size: cover
        background-repeat: no-repeat
        max-width: 97vw
        max-height: 97vh
        display: block

.dark-blue
  color: $dark-blue
