@import "variables"

.uper-block
  float: left
  display: block
  width: 100%
  img
    width: 70px !important
    height: 70px !important
    border-radius: 100%
    display: inline-block


.left-block
  display: block
  float: left
  padding-top: 25px
  table
    .bg-gray
      border-bottom: 1px solid #e4e5e5
      width: 150px
      height: 40px!important
      background-color: rgb(246, 246, 246)
      padding-left: 15px
    .bg-white
      border-bottom: 1px solid #e4e5e5 !important
      border: none
      width: 400px
      height: 40px!important
      padding-left: 15px
      outline: none

.disabledInput
  background-color: #ececec !important

.right-block
  display: block
  float: left
  padding-top: 25px
  table
    .bg-gray
      border-radius: 10px 0px 0px 10px
      width: 170px
      height: 40px!important
      background-color: rgb(246, 246, 246)
      padding-left: 15px
    .bg-white
      border-radius: 0px 10px 10px 0px
      border: none
      width: 400px
      height: 40px!important
      padding-left: 15px
      outline: none

.border-radius-table
  border-radius: 10px
  -webkit-border-radius: 10px
  -moz-border-radius: 10px
  -khtml-border-radius: 10px
  border: 1px solid #e4e5e5
  display: block
  overflow: hidden